# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=intercom

# JWT
JWT_SECRET=sua_chave_secreta_jwt

# MinIO / S3
MINIO_ROOT_USER=seu_usuario_minio
MINIO_ROOT_PASSWORD=sua_senha_minio
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=seu_access_key
MINIO_SECRET_KEY=seu_secret_key

# App
PORT=3000
